body {
  padding-top: 80px;
  font-family: 'Titillium Web', sans-serif;
}

main {
  height: 100%;
}

a {
  color: #1967bb;
  text-decoration: none !important;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  color: #1967bb;
  font-weight: 200;
}

h4, h5 {
  font-weight: 600;
}

*:focus {
  outline: none !important;
}

/* Change the white to any color ;) */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

strong {
  font-weight: 600;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover
{
    outline:0px !important;
    -webkit-appearance:none;
	    box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.form-control:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/*
* ANIMATIONS
*/

.animate-scale:hover {
  -ms-transform: scale(1.1,1.1); /* IE 9 */
  -webkit-transform: scale(1.1,1.1); /* Safari */
  transform: scale(1.1,1.1);
  -webkit-transition: .5s;
  transition: .5s;
}

.animate-height:hover {
  height: auto;
  -webkit-transition: .5s;
  transition: .5s;
}


/*
* GENERAL
*/
.m-t-xss {
	margin-top: 5px;
}

.m-t-xs {
	margin-top: 15px;
}

.m-t-md {
	margin-top: 25px;
}

.m-b-md {
	margin-bottom: 25px;
}


.top-overlaped {
  margin-top: -200px;
  min-height: 500px;
  box-shadow: rgba(0,0,0,0.1) 1px 1px 25px 10px;
}

.bottom-overlaped {
	position: relative;
	bottom: -100px;
	min-height: 500px;
	box-shadow: rgba(0,0,0,0.1) 1px 1px 25px 10px;
	clear: both;
}

.btn-clorox {
  border-radius: 0;
  color: #1967bb !important;
  box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.1);
  border: 0;
}

.btn-clorox-blue {
	background-color: #1967bb;
	color: white;
	font-size: 24px;
	padding:10px 90px;
	border: 0;
}

.btn-clorox.btn-lg {
  font-size: 24px;
  padding: 7px 60px;
}

.container850 {
  width: 850px;
  max-width: 850px;
  margin: auto;
}

.container925 {
	width: 925px;
	max-width: 925px;
	margin: auto;
}

.container1060 {
	width: 1060px;
	max-width: 1060px;
	margin-left: auto;
	margin-right: auto;
}

.container925 .container, .container850 .container {
  padding: 35px 90px 50px 90px;
  width: 100%;
}

.disabled {
  cursor: not-allowed;
  opacity: .3;
}

.upper {
  text-transform: uppercase;
}

.fontX16 {
  font-size: 16px;
}

.fontX18 {
	font-size: 18px;
}

.fontX20 {
  font-size: 20px;
}

.fontX24 {
	font-size: 24px;
}
.fontX35 {
  font-size: 35px;
}

.fontX38 {
	font-size: 38px;
}

.light {
  font-weight: 200;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 600;
}

.underline {
	text-decoration: underline !important;
}
.dropdown.open>.dropdown-menu {
  width: 100%;
}

.dropdown.md > button {
  width: 100%;
  text-align: left;
  background: url('assets/img/caret.png') no-repeat right transparent;
  border: 0;
  border-bottom: 1px solid #1967bb;
  border-radius: 0;
  padding-left: 0;
  z-index: 3;
}

.dropdown.md.yellow > button {
  border-color: #f0c828!important;
  background-image: url('assets/img/caret-yellow.png');
}

.dropdown.md > button:focus {
  background-color: transparent !important;
}

.dropdown.flags > button > .flag,
.dropdown.flags > button > .text {
  float: left;
}

.dropdown.flags > button > .flag {
  margin-right: 5px;
}

.dropdown.filters > .btn {
  font-size: 48px;
  font-weight: 200;
  margin-right: 30px;
  padding: 0;
  min-width: 250px;
}

.dropdown.filters > .btn:hover,
.dropdown.filters > .btn:focus {
  color: #e2e2e2;
}

.dropdown.filters > .btn:active {
  box-shadow: 0 0 0 0;
}

.dropdown.filters > .dropdown-menu > li {
  margin: 10px 10px;
}

.dropdown.filters > .dropdown-menu > li + li {
  margin-top: 20px;
}

.input-md {
  border: 0;
  padding: 0 50px 0 5px;
  -webkit-box-shadow: 0 0 0 0 !important;
  -moz-box-shadow: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-weight: 200;
}

.input-md:not(+ .input-group-btn) {
  padding-right: 0;
}

.input-md + .input-group-btn > .btn {
  margin-left: -50px;
  z-index: 3;
}

.input-md.primary {
  border-bottom: 1px solid #1967bb;
  color: #0c4888;
}

select.input-md {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border-radius: 0;
  background: transparent url('assets/img/caret.png');
  background-position: center right;
  background-repeat: no-repeat;
  padding-right: 10px;
  overflow: hidden;
}

.section {
  padding: 100px 50px 180px 50px;
}

.section > .title > h2 {
  font-size: 50px;
}

.section > .title > h3 {
  font-size: 28px;
}

.section > .title > h2 + h3 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.section > .title.with-filters .label-filter {
  line-height: 70px;
}

.section.bg-green > .title > h2,
.section.bg-blue > .title > h2 {
  color: #fff;
}

.border-x2-top {
  border: 0;
  border-top: 2px solid;
}

.border-x4-top {
  border: 0;
  border-top: 4px solid;
}

.border-x4-bottom {
  border: 0;
  border-bottom: 4px solid;
}

.border-blue,
.hover-border:hover.border-blue {
  border-color: #1967bb;
}

.border-red,
.hover-border:hover.border-red {
  border-color: #f62928;
}

.border-yellow,
.hover-border:hover.border-yellow {
  border-color: #f0c828;
}

.hover-border {
  border-color: transparent;
}

.bg-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: block;
  height: 100%;
  width: 100%;
}

.bg-white {
  background: #fff;
}

.bg-transparent {
  background: transparent;
}

.bg-green {
  background: #5ca854;
}

.bg-blue {
  background: #1967bb;
}

.blue {
  color: #1967bb;
}

.white {
  color: #fff;
}

.grey {
  color: #6d6d6d;
}

.bg-red {
  background: #f62928;
}

.bg-light-grey {
  background: #f3f3f3;
}

.bottom-left {
  position: absolute;
  left: 0;
  bottom: 0;
}

.top-center {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.bottom {
  position: absolute;
  bottom: 0;
}

.box-blue {
  background: #1967bb;
  opacity: .7;
  color: #fff;
  padding: 10px 30px;
  box-shadow: 10px 0 0 rgba(255,255,255,.3) inset;
}

.box-blue > * {
  margin: 0;
  padding: 0;
}

.border-three-colors {
  background-image: url('assets/img/foot-border.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 16px;
}

.boxes {
  padding-top: 20px;
  padding-bottom: 20px;
}

.box {
  height: 250px;
  -webkit-transition: .3s;
  transition: .3s;
}

.box-shadow {
  box-shadow: 1px 1px 15px #e2e2e2;
}

.box-shadow-hover:hover {
  -webkit-box-shadow: 10px 5px 50px 5px rgba(0,0,0,0.3);
  -moz-box-shadow: 10px 5px 50px 5px rgba(0,0,0,0.3);
  box-shadow: 10px 5px 50px 5px rgba(0,0,0,0.3);
}

.box > .header {
  height: 75%;
}

.box > .header > .bg-image {
  height: 100%;
  width: 100%;
  max-height: 200px;
}

.box.box-layered > .header > .bg-image {
  max-height: 100%;
}

.box.box-layered .animate-height {
  -webkit-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}

.box.box-layered .animate-height:hover {
  height: 50%;
}

.box.box-layered .animate-height > a.link {
  opacity: 0;
  display: block;
  padding-top: 20px;
}

.box.box-layered .animate-height:hover > a.link {
  opacity: 1;
  -webkit-transition-delay: .5s;
  -moz-transition-delay: .5s;
  transition-delay: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}

.box.box-layered .animate-height:hover > a.link:hover {
  text-decoration: underline;
}

.visible-on-hover {
  visibility: hidden;
}

.product:hover .visible-on-hover {
  visibility: visible;
  -webkit-transition: .3s;
  transition: .3s;
}

.box > .body {
  height: 25%;
}

.environments .box > .body a {
  height: 100%;
  width: 100%;
  display: block;
  padding: 10%;
  font-size: 18px;
  -webkit-transition: .3s;
  transition: .3s;
}

.box > .body .title {
  text-overflow: ellipsis;
  width: 95%;
  white-space: nowrap;
  overflow: hidden;
}

.box > .body .title.multiple-lines {
  white-space: pre-line;
}

.bg-transparent.hover-white:hover {
  background: #fff;
  transition: .3s;
}

.box:hover a:not(.link) {
  background: #1967bb;
  color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
}

.box-layered {
  height: 300px;
  position: relative;
}

.box-layered > .header,
.box-layered > .body {
  position: absolute;
  z-index: 1;
}

.box-layered > .header {
  height: 90%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}

.box-layered > .body {
  height: 30%;
  bottom: 0;
  left: 5%;
  width: 90%;
  z-index: 2;
  padding: 10px 20px;
}

.box-layered > .body p {
  margin-top: 10px;
  color: #666;
  font-size: 14px;
  line-height: 18px;
}

.text-item {
  color: #fff;
  padding: 20px;
  font-size: 16px;
}

.video-item {
  padding: 0;
}

.bg-white.text-item {
  color: #666;
}

.btn-more {
  margin-top: 50px;
}

.icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: sub;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.iconX2 {
  width: 60px;
  height: 60px;
  display: inline-block;
}

.iconX40 {
	width: 40px;
	height: 40px;
}

.iconX50 {
	width: 50px;
	height: 50px;
}

.btn-clorox > .icon {
  width: 22px;
  height: 34px;
  vertical-align: top;
  line-height: 28px;
  margin-right: 10px;
}

.plus-icon {
  background-image: url('assets/img/plus-icon.png');
}

.icon-fb {
  background-image: url('assets/img/fb-icon.png');
}

.icon-fb-white {
	background-image: url('assets/img/icon-fb-white.png');
}

.icon-yt-white {
	background-image: url('assets/img/icon-yt-white.png');
}

.icon-tw-white {
	background-image: url('assets/img/icon-tw-white.png');
}

.icon-email {
	background-image: url('assets/img/icon-email.png');
}

.icon-telephone {
	background-image: url('assets/img/icon-telephono.png');
}

.icon-yt {
  background-image: url('assets/img/yt-icon.png');
}

.icon-send {
  background-image: url('assets/img/send.png');
}

.icon-share {
  background-image: url('assets/img/share-icon.png');
}

.icon-back {
  background-image: url('assets/img/icon-back.png');
}

.list-inline.categories > li > .bg-image {
  width: 68px;
  height: 68px;
}

.list-inline.categories > li {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5px;
}

.list-inline.categories > li + li {
  margin-left: 20px;
}

.list-inline.categories.light-bg > li > .bg-image {
	background-size: auto 45px;
	border: 2px solid #1967bb;
}
.previous-history {
  width: 100%;
  margin-left: 60px;
}

.previous-history-link > i,
.previous-history-link > span {
  vertical-align: middle;
}

.previous-history-link > span {
  margin-left: 5px;
}

.previous-history + * > * {
  margin-top: 50px;
}




/*
* HEADER
*/

header > nav {
  box-shadow: -50px -20px 80px 0px;
  -moz-box-shadow: -50px -20px 80px 0px;
  -webkit-box-shadow: -50px -20px 80px 0px;
}

.navbar-custom {
  min-height: 100px;
  background: #fff;
  border-top: 2px solid #1967bb;
}

.navbar-custom .navbar-brand {
  height: 100px;
  padding: 0;
}

.navbar-custom .navbar-brand img {
  height: 70px;
  width: 120px;
  margin: 15px 50px;
}

.navbar-custom .navbar-nav > li > a {
  line-height: 70px;
  font-size: 20px;
  color: #1967bb;
}

.navbar-custom .navbar-nav > li.current-menu-item > a {
  border-top: 6px solid #1967bb;
  line-height: 58px;
  font-weight: 600;
}

.navbar-campaign {
	background: transparent;
	box-shadow: none;
}

.nav.social-links {
  margin-right: 15px;
}

.nav.social-links > li:first-child {
  margin-left: 10px;
}

.nav.social-links > li + li {
  margin-left: 15px;
}

.nav.social-links > li > a {
  height: 100%;
}


/*
* Formulario de contacto
*/

.wpcf7-response-output {
  border: 1px solid #1967bb !important;
  color: #1967bb;
  font-size: 14px;
  font-weight: 600;
  margin-top: 15px !important;
  text-align: center;
}

.wpcf7-validation-errors {
	border: 1px solid red !important;
  color: red;
  font-size: 14px;
  font-weight: 600;
  margin-top: 15px !important;
  text-align: center;
}

/*
* Sections Reusables
*/
#section-relateds-tips {
  min-height: 500px;
  padding: 70px 50px 100px 50px;
}

#section-relateds-tips article.box .title {
	font-size: 18px;
}

#section-relateds-tips .content {
	margin-top: 50px;
}

/*
* HOME
*/

.bx-wrapper, .bx-viewport, .bxslider, .bxslide {
  height: 100% !important;
  border: 0;
}

.featured-image {
  height: 570px;
  width: 100%;
  position: relative;
}

.featured-image .bottom-left {
  bottom: 100px;
  left: 50px;
}

.featured-image .box-blue h3 {
  font-weight: 200;
  font-size: 45px;
  color: #fff;
}

#section-tips .box {
  height: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#section-products {
  min-height: 1050px;
}

.products .product {
  height: 330px;
  min-width: 225px;
}

.products .product + .product {
  margin-left: 5px;
}

.products .box {
  width: 100%;
  height: 100%;
  padding-top: 15px;
}

.products .product .body > .title {
  font-size: 20px;
}

.products .box .bg-image {
  background-size: contain;
}

.products .boxes {
  padding-bottom: 100px;
  min-height: 450px;
}

.container-products > h3 {
  margin: 50px auto;
  text-align: center;
}

#section-tips {
  padding-bottom: 60px;
}

#section-environment .boxes,
#section-tips .boxes {
  padding-top: 100px;
}

#section-environment .box {
  height: 220px;
  padding: 0;
  max-width: 165px;
}

#section-environment .box + .box {
  margin-left: 50px;
}

#section-environment .box .bg-image {
  background-size: auto;
}

#section-stream {
  padding: 0;
}

.tip:nth-child(1n) .body {
  border-top: 4px solid #f62928;
}

.tip:nth-child(2n) .body {
  border-top: 4px solid #1967bb;
}

.tip:nth-child(3n) .body {
  border-top: 4px solid #f0c828;
}

.tip:nth-child(1n) .body > .title,
.tip:nth-child(1n) .body > .link {
  color: #f62928;
}

.tip:nth-child(2n) .body > .title,
.tip:nth-child(2n) .body > .link {
  color: #1967bb;
}

.tip:nth-child(3n) .body > .title,
.tip:nth-child(3n) .body > .link {
  color: #f0c828;
}


/*
* Pages
*/

.page .onlyText h1 {
  font-size: 28px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 50px;
}

.page .onlyText p {
  font-size: 16px;
  color: #fff;
}

.page .section > .title > h2,
.page .dropdown.filters > .btn {
  font-size: 38px;
}

.page:not(.home) .featured-image {
  height: 420px;
  max-height: 420px;
}

.page .content.shadow {
  box-shadow: 0px 0 50px 0px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 0 50px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0 50px 0px rgba(0,0,0,0.3);
}

.page .content h2 {
  font-size: 38px;
  font-weight: 400;
  margin-bottom: 30px;
}

.page .content p {
  color: #6e6e6e;
  font-size: 16px;
  line-height: 20px;
}

.page .content h3 {
  margin-top: 30px;
  font-size: 28px;
}

/*
* Contacto
*/

#section-contacto {
	padding-top: 80px;
}

.contactFormCont {
	height: 316px;
	box-shadow: 5px 9px 25px 0px rgba(0, 0, 0, 0.1);
}

.contactForm {
	height: 405px;
	padding: 30px 34px;
	box-shadow: 5px 9px 25px 0px rgba(0, 0, 0, 0.1);
}

.overlaped {
	margin-top: -45px;
	margin-left: 25px;
}

#section-contacto .title {
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 45px;
}

#section-contacto p {
	font-size: 16px;
}

#section-contacto .contactFormCont {
	margin-top: 100px;
}


.contactForm h4{
	margin-bottom: 20px;
}

.contactForm form {
	margin-top: 20px;
}
.contactForm .form-group {
	border-bottom: 1px solid #1967bb;
	margin-bottom: 15px;
	height: 30px;
	overflow: hidden;
}
.contactForm label {
	display: inline;
	font-size: 14px;
	color: #1967bb;
}
.contactForm input {
	border: 0;
	display: inline;
	width:350px;
	outline: none;	
	box-shadow: none;

}

.contactForm input:focus {
	outline: none !important;
	border: 0;
}
.contactForm br {
	display: none;
}

.btnSend input[type=submit]{
	background-color: #1967bb;
	color: white;
	font-size: 24px;
	padding: 8px 90px;
	border: 0;
	width: auto;
	margin-top: 10px;
}

.contactFormCont ul {
	font-size: 20px;
	margin: 25px 30px;
}
.contactFormCont ul li {
	margin-bottom: 15px;
}
.contactFormCont ul li .icon {
	vertical-align: middle;
	margin-right: 16px;
}

/*
* Single
*/

.single .section {
  min-height: 800px;
}

.single .title {
  font-size: 48px;
}

.single .title + p {
  margin: 30px auto;
  color: #fff;
  font-size: 16px;
}

.single .top-overlaped {
  padding-top: 80px;
  padding-bottom: 80px;
  margin-bottom: 80px;
}


/*
* Single Product
*/

.single-product #section-product {
  padding-top: 70px;
}

.single-product .featured-image {
  height: 450px;
  background-size: contain;
}

.single-product .characteristics {
  padding-top: 80px;
}

.single-product .characteristic {
  min-height: 330px;
  max-height: 330px;
  margin-left: 15%;
  margin-right: 15%;
}

.single-product .characteristic > .bg-image {
  height: 240px;
  width: 100%;
}

.single-product .videoContainer {
  margin-top: 80px;
  margin-bottom: 80px;
}

.single-product .videoContainer iframe {
  width: 100%;
  height: 600px;
}

.single-product .container-products {
  margin-top: 70px;
}

#section-characteristics {
  padding-bottom: 70px;
}

#section-relateds {
  min-height: 500px;
  padding: 50px;
}



/*
* Single Tip
*/

.single-tip #section-tip {
  padding-top: 70px;
  padding-bottom: 0px;
  height: auto;
  min-height: auto;
  margin-top: -100px;
}

.single-tip section h2.title {
	font-size: 38px;

}

.single-tip #section-relateds {
	padding-top: 170px;
	padding-bottom: ;
}

#section-tip .previous-history {
	margin-left: 0px;
	position: relative;
	bottom: -100px;
}

.single-tip .videoContainer {
	margin-top: 0px;
}

.single-tip .videoContainer iframe {
    width: 100%;
    height: 422px;
}

.single-tip .videoBlueBorder iframe {
	border-bottom: 4px solid #1967bb;
}

.single-tip .detailContainer {
	width: 633px;
	margin:18px auto 0;
}

.single-tip .detailContainer .title {
	font-size: 38px;
	font-weight: normal;
}
.single-tip .list-inline.categories > li > .bg-image {
  width: 58px;
  height: 58px;
  background-size: auto 70%;
}
.single-tip .list-inline.categories > li {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 7px;  
  padding: 0;  
}

.single-tip .list-inline.categories > li + li {
  margin-left: 7px;
  padding: 0;
}

.single-tip .list-inline.categories > li:first-child {
	margin-left: 5px;
	padding: 0;
}

.single-tip .detailContainer p {
  font-family: 'Titillium Web';
  font-size: 16px;
  color: #6c6c6c;
}

.single-tip .socialFunciones {
	margin-top: 25px;
	margin-bottom: 50px;
	padding: 0px 0;
	border-top: 1px solid #1967bb;
	border-bottom: 1px solid #1967bb;
	height: 56px;
}

.single-tip .socialFunciones span{
	margin-top: 8px;
}

.single-tip .socialFunciones .btn-share {
	margin-top: 8px;
}

.single-tip .btn-share {
	font-size: 18px;
	line-height
	background-color: transparent;
	margin-right: 0;
	padding-right: 5px;
	padding-left: 10px;
	box-shadow: none;

}

.single-tip .btn-share .icon {
	width: 22px;
	height: 22px;
	margin-right: 5px;
}

.single-tip .vortex-container-vote {
	float: left;
}

.icon-thumbs-up-1:before {
    content: '';
    background-image: url('assets/img/like-icon-dis.png');
    width: 43px;
    height: 43px;
    margin-left: 10px;
    margin-right: 0;
}

.vortex-p-like-active.icon-thumbs-up-1:before {
    content: '';
    background-image: url('assets/img/like-icon.png');
}

.icon-thumbs-down-1:before {
    content: '';
    background-image: url('assets/img/dislike-icon-dis.png');
    width: 43px;
    height: 43px;
    margin-left: 10px;
}

.vortex-p-dislike-active.icon-thumbs-down-1:before {
    content: '';
    background-image: url('assets/img/dislike-icon.png');
}

.vortex-p-dislike-counter, .vortex-p-like-counter {
	display: none;
}
/*
* Single Campaign	
*/

#campaign {
	padding-top: 0;
}


.single-campaign #sectionCampaignDetail {
	padding-top: 80px;
}

.single-campaign #sectionCampaignDetail p {
	max-width: 625px;
	margin: 25px auto 80px;
	font-size: 16px;
}

.single-campaign #sectionCampaignDetail .content {
	/*padding-left: 22%;*/
	margin: 0 auto;
  width: 100%;

}

.single-campaign .videoContainer iframe {
	width: 100%;
	height: 600px;
	margin-bottom: 150px;
}

.single-campaign #sectionCampaignDetail .products .product {
	width: 33%;
	float: left;
  padding: 1.5%;
  height: 420px;
}

.single-campaign #sectionCampaignDetail .products .product .body > .title {
	font-size: 28px;
}

.single-campaign #sectionCampaignDetail .products .product + .product {
	margin-left:0;

}

.single-campaign #sectionCampaignDetail .products .product:first-child {
	margin-left: 1%;
}


.single-campaign #sectionCampaignDetail .box > .header > .bg-image {
	max-height: 280px;
}

.single-campaign .contactFormCont {
	width: 670px;
	margin-left: auto;
	margin-right: auto;
}

.single-campaign .contactFormCont ul {
	font-size: 20px;
	margin: 70px 0px 0 30px;
}
/*
* FOOTER
*/

footer {
  position: relative;
}

footer .top-center {
  top: -30px;
  margin: auto;
  width: 90%;
}

footer .newsletter {
  padding: 10px 70px;
  height: 90px;
  line-height: 65px;
  box-shadow: 5px 25px 35px -12px #ccc;
}

footer .newsletter label {
  font-size: 36px;
  font-weight: 200;
}

footer .newsletter input{
  margin-top: 10px;
  height: 50px;
  font-size: 20px;
  width: 100%;
}

footer .input-md + .input-group-btn > .btn {
  margin-top: 8px;
}

footer .logo img {
  margin: auto;
  padding-top: 150px;
  padding-bottom: 50px;
}

footer .menu li a {
  font-size: 18px;
  line-height: 18px;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

footer .menu li + li {
  border-left: 1px solid #1967bb;
}

footer .change-language {
  padding-top: 10px;
  padding-bottom: 10px;
}

footer .copyright {
  padding-top: 10px;
  padding-bottom: 20px;
  color: #1967bb;
}


/*
* SHARE BUTTONS	
*/


#example3{
  float:left;
  margin:63px 33% 0 33%;
}
#shareme .box{
  float:left;
  margin:5% 8% 0 8%;
  width:100%;
}
#shareme .box a{
  color:#404040;
  text-shadow: 0 1px 1px rgba(167,167,167,.4);
}
#shareme .box a:hover{
  text-decoration:none;
}
#shareme .count {
  font-weight:bold;
  font-size:50px;
  float:left;
  border-right:2px solid #57b8d1;
  line-height:40px;
  padding-right:10px
}
#shareme .share {
  float:left;
  margin-left:10px;
  font-size:20px;
  width:82px;
}
#shareme .buttons {
  position: absolute;
  width:294px;
  background-color:#fff;
  border: 1px solid rgba(0,0,0,.2);
  padding:10px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
#shareme .button {
  float:left;
  max-width:50px;
  margin:0 10px 0 0;
}
#shareme .facebook {
  margin:0 4px 0 0;
}